[submodule "src/submodules/firefox-csshacks"]
	path = src/submodules/firefox-csshacks
	url = https://github.com/MrOtherGuy/firefox-csshacks.git
[submodule "src/submodules/uc.css.js"]
	path = src/submodules/uc.css.js
	url = https://github.com/aminomancer/uc.css.js.git
[submodule "src/submodules/userChrome.js"]
	path = src/submodules/userChrome.js
	url = https://github.com/alice0775/userChrome.js.git
[submodule "src/submodules/fx-autoconfig"]
	path = src/submodules/fx-autoconfig
	url = https://github.com/MrOtherGuy/fx-autoconfig.git
[submodule "src/submodules/Firefox-Mod-Blur"]
	path = src/submodules/Firefox-Mod-Blur
	url = https://github.com/datguypiko/Firefox-Mod-Blur.git
